.section1{
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__body{
    z-index: 1000;
    text-decoration-color: #FFFFFF;

  }
  min-height: 800px;
}